<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
        th {
            text-align: center;
        }

    </style>
</head>
<body>

<h1>Admin page</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Role</th>

    </tr>
    </thead>
    <tbody>


    <tr>
        <td th:text="${user.id}">ID</td>

        <td><a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getUsername()}">user></a></td>
        <td th:text="${user.getPassword()}">password</td>
        <td>
            <table>
                <tr th:each="role: ${user.getRoles()}">
                    <div th:text="${role.getName()}">role</div>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
<br/>
<a href="/admin/users">Main page</a>

</body>
</html>