<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="login">Username</label>
    <input type="text" th:field="*{username}" id="login"/>
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <div>
        <select th:object="${r}" th:field="*{name}" >
            <option value="0">select role</option>
            <option th:each="showRole : ${showRoles}"  th:value="${showRole.name}" th:text="${showRole.getName()}"></option>
        </select>
    </div>

    <input type="submit" value="Update user info">
</form>
<br/>
<a href="/admin/users">Back</a>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>